#scene-selection {
    width: 80%;
}

#header-text {
    flex-grow: 1;
}

#main-menu__buttons > #button__load {
    margin-right: 2px;
}

#main-menu__buttons > #button__open {
    margin-left: 2px;
}

#button__open > #icon {
    background-image: resource('Sprites/icon_open');
}
