:root {
    margin-bottom: 1px;
    margin-right: -2px;
    margin-left: 3px;
    margin-top: 1px;
    overflow: hidden;
}

ObjectField {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

ObjectField > Label {
    min-width: 119.8px;
    width: 40%;
}

ObjectField > VisualElement {
}
